{
    "printWidth": 140,
    "tabWidth": 2,
    "arrowParens": "always",
    "bracketSpacing": true,
    "semi": true,
    "singleQuote": true,
    "quoteProps": "consistent",
    "trailingComma": "all",
    "useTabs": false
}