<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item is-size-3 has-text-weight-bold">
        Angular To Do List
      </div>
    </div>
    <div class="navbar-end">
      <a [routerLink]="['/to-do']" routerLinkActive="active-item" class="navbar-item menu-item">To Do</a>
      <a [routerLink]="['/organizer']" routerLinkActive="active-item" class="navbar-item menu-item">Organizer</a>
    </div>
  </div>
</nav>
<section class="section">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>